*{
    cursor: url('img/mata_mosquito.png') 30 30, auto;    
}

.mosquito1{
    height: 50px;
    width: 50px;
}

.mosquito2{
    height: 70px;
    width: 70px;
}

.mosquito3{
    height: 90px;
    width: 90px;
}

.lado1{
    transform: scaleX(-1);
}

.lado0{
    transform: scaleX(1);
}

body{
    background-image: url('img/bg.jpg');
    background-size: cover;
}