#conteudo{
    background-color: green;
    padding: 15px;

    h1, h2{
        color: black;
    }

    a{
        color: red;

    //Referenciando com seletor pai
        &:hover{
            color: yellow;
        }
    }
}